@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&display=swap');

/*--- COLOUR VARIABLES---*/
:root {
  --white: #f2e5fa;
  --black: #2e2931;
  --lilac: #cab4fa;
  --darkblue: #004787;
  --darkpurple: #270a78;
  --lightpink: #fcabed;
  --mediumredpurple: #cd4ed6;

  --body-bg-color: var(--lilac);
  --body-text-color: var(--darkpurple);
  --link-color: var(--darkpurple);
  --link-hover-color: var(--darkblue)
}

/*--- FONT STUFF---*/
@font-face {
  font-family: 'Courier Prime';
  src: url('../public/assets/fonts/Courier_Prime/CourierPrime-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lexend';
  src: url('../public/assets/fonts/Lexend/static/Lexend-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.lexend-dysfont {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}


/*--- ROOT APP STUFF ---*/
body {
  margin: 0;
  font-family: 'Courier Prime', monospace;
  /*start off like this one*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: font-family 0.3s ease-in-out;
  /*Makes it smoother coming in i guess*/
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}

button {
  background-color: transparent;
  border: none;
}

/* for toggling fonts*/
.font-courier {
  font-family: 'Courier Prime', monospace;
}

.font-lexend {
  font-family: 'Lexend', monospace;
}

/*for toggling light and dark mode*/
.light-mode {
  --body-bg-color: var(--lilac);
  --body-text-color: var(--darkpurple);
  --link-color: var(--darkpurple);
  --link-hover-color: var(--darkblue);
}

.dark-mode {
  --body-bg-color: var(--darkpurple);
  --body-text-color: var(--lilac);
  --link-color: var(--mediumredpurple);
  --link-hover-color: var(--lightpink);
}

.App {
  text-align: center;
}

.App-link,
a {
  color: var(--link-color);
  text-decoration: none;
}

.App-Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  align-content: stretch;
}

.App-musicdog {
  padding: 5vh 0;
  height: 20vh;
}

/*--- NAVIGATION BAR---*/
.Nav-LeftSettings:hover {
  transform: scale(1.1);
}


/*--- HOME PAGE STUFF ---*/


.Home-nav {
  padding: 3vh 5.5vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.Home-nav-left,
.Home-nav-right {
  min-height: 10vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  font-size: calc(5px + 1vmin);
}

.Home-main {
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  font-size: calc(10px + 2vmin);
  margin-top: 20px;
}

/*--- ABOUT PAGE STUFF*/
.About {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.About-text {
  width: 30vw;
  text-align: left;
}

.About-img {
  width: 25vw;
}

/*--- CV STUFF ---*/
.MyCV-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 40px;
}

.MyCV {
  text-align: left;
  width: 60%;

}

/*--- LINKS PAGE ---*/
.MyLinks,
.MyLinks-external {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

.MyLinks-Dev,
.MyLinks-Art,
.MyLinks-Socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
}

.MyLinks-Img {
  height: 60px;
}

/*--- JOURNAL PAGE ---*/
.Journal-container{
  width:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.JournalBook{
  width:33%;
  height:500px;
  background-color: yellow;
}
#journalBook-img{
  width:200px;
}
#journalBook-caption{
  font-size: 24px;
  font-style:italic;
  margin: 24px;
  font-family: 'Courier Prime', monospace;
}

/*--- RESPONSIVENESS ---*/
@media only screen and (max-width: 1100px) {
  .Home-nav {
    margin-bottom: 5px;
  }

  .Home-nav-left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  .Home-nav-right {
    display: flex;
    flex-wrap: wrap;
    height: 330px;
    width: 400px;
  }

  .Home-main {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

@media only screen and (max-width: 1000px) {
  .Home-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
  }

  .Home-nav-left,
  .Home-nav-right {
    width: 80%;
  }

}

@media only screen and (max-width:800px) {

  .Home-nav-left {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
  }

  .Home-nav-right {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
  }
}

@media only screen and (max-width:500px) {
  .Home-nav-right {
    height: 500px;
  }

  /*--- ABOUT PAGE STUFF*/
  .About {
    display: flex;
    flex-direction: column;
  }

  .About-text {
    width: 70%;
  }

  .About-img {
    width: 30vw;
  }
}

@media only screen and (max-width: 320px) {
  p {
    font-size: 18px;
  }

  .Nav-LeftSettingsImg {
    transform: scale(.9);
  }

  .Home-nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
  }

  .Home-nav-left {
    width: 100px;
    height: 200px;
    margin-bottom: 30px;
  }

  .Home-nav-right {
    height: 1000px;
    width: 150px;
  }

  .About-img {
    width: 70vw;
  }
}